 
/* parent div */
 .flex-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
     padding-left: 3%;
     padding-right: 3%;
}

/* child div, styling for each box/sport */
 .flex-item {  
     width: 460px;
     height: 230px;
     display: flex;
     margin-bottom: 70px;
}

.flex-item-portrait {
    width: 50%;
    background-position: center top;
    background-size: cover;
    border: 2px solid #000D38;
}

.flex-item-info {
    width: 50%;
    height: 100px;
    margin-top: 140px;
    padding-left: 15px;
    
}

.jumbotron {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 400px;
    margin-bottom: 0px !important;
}

#mainNav {
    background-color: #000D38 !important;
}

/* BC-farger */

#bc {
    padding-top: 10px;
    padding-bottom: 70px;
}

#heading {
    font-family: Arial;
    color: #000D38;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

#name {
    color: #000D38;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

#position {
    color: #000D38;
    font-family: Arial;
    font-style: italic;
    font-size: 12px;
    margin: 0;
    padding-bottom: 15px;
}

#tlf {
    color: #000D38;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
}

#epost {
    color: #000D38;
    font-family: Arial;
    font-size: 12px;
    margin: 0;
}

.col-sm-8 {
    margin: 0 auto;
    padding-top: 40px;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #000D38;
}

 