/* Setting basic requirements for the whole document */
body{
     margin:0px;
     padding:0px;
     min-width:100%;
     max-width:100%;
     height:auto;
     font-family: 'Arial Bold', sans-serif;
}


/* The list on the right containing list elements such as: hjem, info, idretter etc.*/


/* Add a gray background color and some padding to the footer */


/*Controls the header. The navbar is not part of this code*/
header{
    overflow: auto;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}
/*The background image of the header*/
#bakgrunn{
    overflow: auto;
    background-image: url(../bilder/bakgrunn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    z-index: 1;
    width: 100%;
   

}

/* Centering the logo on top of the background image */
#logo{
    position: absolute;
    width: 40vh;
    z-index: 11;
    margin-top: -3%;   
}
#logo-header{
    margin-top: -5;
    width: 3.5vh;
}
.navbar-brand{
    font-size: 2vh;
    margin-top: 1;
    margin-right: -10;  
}
/* Container h3 sizes up the headline before the columns */

.container h3{
    font-size: 50px;
    font-family: arial, bold;
    margin-top: 5vh;
}

/* The text within the pictures */

.container{
    width: 95%;
}

/* Row containing the columns, set to 100% of the containers width */
.row{
    width: 100%:
}

/* Divs within the columns containing the pictures and the column-text */
.img-responsive{
  background-position: center;
  background-size: cover;
  height:60vh;
  position: relative;
  overflow: hidden;
    

  
 
}
/* Setting background picture for the first image*/
#bball{
    background-image: url(../bilder/nike-basketball.jpg);
}

/* Setting background picture for the second image*/
#team{
    background-image: url(../bilder/team-sport.jpg);

}

/* Setting background picture for the third image*/
#trophy{
    background-image: url(../bilder/trophy.jpg);
}
/* Setting the h3, p text on top of the picture, instead of underneath */
.colorlayer{
  background-color: rgba(0, 13, 56, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden; 
  color: white;
  height: 150px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.colorlayer2{
    height: 100%;
    background-color: rgba(0,176,192,0.7);
}
.column-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden; 
  color: white;
  height: 90%;
    
}
.column-text p{
    font-size: 1.7vh;
}
.hidden-column-text{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden; 
  color: white;
  height: 100%;
  
}
.hidden-column-text h3{
    margin-top: 30%;
}
.hidden-column-text img{
    height: 10vh;
    margin-top: 2vh;
}
.hidden-column-underlead{
    margin-top: 2vh;
    font-size: 2vh;
}


/* a Div to be shown when hovering over one of the images */


/* Class to be added when hovering over the picture, increases the height of the column-text to display more information. Code in myJQ.js */
/* The title in the picture */
.row h3{

    font-size: 2.3vh;
} 

.sponsorlogo{

     width: 100%;
    margin-left: 25%;

}
.fitsponsor{
    float: left;
    width: 25%;

}
.sponsors{
    height: 147px;
    
}


footer{
    background-color: blue;
    width: 100%;
}
#img-section{
    min-height: 80vh;
    width: 100%;
}

#instasection{

    background-color:rgb(235, 235, 235);
    min-height: 60vh;
    padding-top: 10;
    overflow: hidden;
    width: 100%;
}
#sponsor-section{
    width: 100%;
    height: 50vh;
}
#instasection h3{
    text-align: center;
    font-size: 50px;
    font-family: arial, bold;




}
.instaimg img:hover{
    opacity: 0.7;
}
.instaimg img{
  object-fit: cover;
  height: 34vh;
  width: 34vh;
  
}
.instaimg{
    float: left;
    max-width: 30vh;
    margin: 27;
}
#circle{
  margin: 20px;
  width: 200px;
  height: 200px;
    z-index: 100000;
  position: relative;
}


@media (max-width: 800px) {
   

    .col-sm-4{
        margin-top: 5vh;
    }
    .hidden-column-text h3{
    margin-top: 25%;
    }
    .sponsors{
    margin: 20;
    }
    .img-responsive{
        height: 70%;
    }

    .instaimg img{
    height: 20vh;
    width: 20vh;
  
}
.instaimg{
width: 33%;
margin: 0;
margin-top: 20;

}
    #instasection{
        padding-bottom: 50;
    }
 .sponsorlogo{
        margin: 0;
    }
.fitsponsor{
width: 100%;

}


}
@media (max-width: 500px) {
.instaimg{
width: 50%;


}