<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bergen Challenge</title>
      
    <!-- Custom styles for this page -->
    <link href="../../storage/css/cssforidrett.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
      </div>
    </nav>
      
    
    <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../../storage/bilder/sports/basket.jpg)">  
            <div class="container">
                <h1 id="overhead">3X3 BASKETBALL</h1>
            </div>
      </div>

        <div class="row">
            <div class="col-sm-8">
                <img class="rounded mx-auto d-block" src="../../storage/bilder/bcfarger.jpg" id="bc">
                    <ul class="list"> 
                        <li class="list-item"><span class="question">NÅR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">HVOR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">KONTAKTPERSON</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">REGLER</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">TYPE</span><span class="answers">Studentcup og EM-kvalik for Student-EM 2019</span></li>
                    </ul>
                <div class="infotext">
                    <p class="lead">Nok en gang arrangerer SLBC 3x3 basketball. Dette er en egen versjon av basketball som går ut på at 3 personer fra hvert lag spiller mot hverandre på en mindre bane med én kurv, og én innbytter per lag. Denne formen er kjent som street basketball, og det blir ikke brukt «jump ball» som i en vanlig basketkamp, men den startes ved kron og mynt. 3x3’s økende popularitet internasjonalt synes godt, og som resultat har det blitt en godkjent OL-gren. Dette er tiden for å fiske frem alle triksene du har lært ved å se på proffene i NBA. Vinneren av turneringen kvalifiserer seg nemlig til Student-EM i Polen i 2019! Det er nå eller aldri! 
                        <br>
                        <br>
                        Før laget meldes på må hver deltaker lage en profil på: https://play.fiba3x3.com/ Deretter må kapteinen sende en mail til: Martin.Wroblewski@basket.no med navn og link til fiba profilen til hver spiller på laget. Denne nettsiden vil bli brukt på selve arrangementet og viser informasjon som deltakerlag, kampoppsett etc.  
                    </p>           
                </div>
                
    
            </div>
        </div>

        

      <footer class="footer">
      <div class="container">
        <span class="text-muted">Bergen Challange</span>
      </div>
    </footer>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      


   

    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../../storage/js/scrolling-nav.js"></script>

  </body>

</html>
