<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bergen Challenge</title>
      
   <!-- Custom styles for this page -->
    <link href="../assets/css/cssforidrett.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
      </div>
    </nav>
      
    
    <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../assets/bilder/sports/orientering.jpg)">  
            <div class="container">
                <h1 id="overhead">ORINTERING</h1>
            </div>
      </div>

        <div class="row">
            <div class="col-sm-8">
                <img class="rounded mx-auto d-block" src="../assets/bilder/bcfarger.jpg" id="bc">
                    <ul class="list"> 
                        <li class="list-item"><span class="question">NÅR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">HVOR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">KONTAKTPERSON</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">REGLER</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">TYPE</span><span class="answers">Studentcup</span></li>
                    </ul>
                <div class="infotext">
                    <p class="lead">Liker du å løpe samtidig som du skal finne fram til et bestemt punkt med bare hjelp av et kart? Da er studentcupen i orientering konkurransen for deg! Målet med orientering er å ikke bli borte i ukjent terreng og være den raskeste gjennom alle punktene markert på kartet uten hjelp fra Google Maps. Idretten krever utholdenhet i tillegg til ekstra hjernekapasitet til å finne fram i Bergensområdet. Det vil bli løp for både herrer og damer i langdistanse/sprint. 
 </p>           
                </div>
                
    
            </div>
        </div>

        

      <footer class="footer">
      <div class="container">
        <span class="text-muted">Bergen Challange</span>
      </div>
    </footer>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      


   

    <!-- Bootstrap core JavaScript -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>


  </body>

</html>
