<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bergen Challenge</title>
      
    <!-- Custom styles for this page -->
    <link href="../assets/css/cssforidrett.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
      </div>
    </nav>
      
    
    <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../assets/bilder/sports/sjakk.jpg)">  
            <div class="container">
                <h1 id="overhead">SJAKK</h1>
            </div>
      </div>

        <div class="row">
            <div class="col-sm-8">
                <img class="rounded mx-auto d-block" src="../assets/bilder/bcfarger.jpg" id="bc">
                    <ul class="list"> 
                        <li class="list-item"><span class="question">NÅR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">HVOR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">KONTAKTPERSON</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">REGLER</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">TYPE</span><span class="answers">Studentcup og EM-kvalik for Student-EM 2019</span></li>
                    </ul>
                <div class="infotext">
                    <p class="lead">Sjakk er et brettspill for to personer der Magnus Carlsen alltid vinner til slutt. Bortsett fra under Studentlekene Bergen Challenge, for her er nemlig ikke Magnus Carlsen med. Hva betyr dette? Hvem som helst kan stikke av med seieren! Er du en av de som er klare for å ta steget videre fra time etter time foran skjermen med Simen Agdestein, Jon Ludvig Hammer og Hans Olav Lahlum på VGTV, til å bryne sjakkhodet ditt på de beste i student-Norge er dette muligheten du har ventet på. Vinneren vil også få representere Norge i Student-EM Ungarn 2019.
 </p>           
                </div>
                
    
            </div>
        </div>

        

      <footer class="footer">
      <div class="container">
        <span class="text-muted">Bergen Challange</span>
      </div>
    </footer>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      


   

    <!-- Bootstrap core JavaScript -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>


  </body>

</html>
