<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bergen Challenge</title>
      
    <!-- Custom styles for this page -->
    <link href="../assets/css/cssforidrett.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
      </div>
    </nav>
      
    
    <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../assets/bilder/sports/squash.jpg)">  
            <div class="container">
                <h1 id="overhead">SQUASH</h1>
            </div>
      </div>

        <div class="row">
            <div class="col-sm-8">
                <img class="rounded mx-auto d-block" src="../assets/bilder/bcfarger.jpg" id="bc">
                    <ul class="list"> 
                        <li class="list-item"><span class="question">NÅR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">HVOR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">KONTAKTPERSON</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">REGLER</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">TYPE</span><span class="answers">Studentcup</span></li>
                    </ul>
                <div class="infotext">
                    <p class="lead">Studentlekene Bergen Challenge inviterer til studentmesterskap i squash, sporten som er kåret til verdens sunneste! Squash er en racketsport som spilles innendørs på en bane med fire vegger. Man er to spillere som spiller mot hverandre, og det brukes en gummiball. Spillet starter med en serve mot frontveggen fra den ene siden av banen over til motstanderen. Deretter må slagene slås direkte mot frontveggen eller via en av de andre tre veggene. Dette passer perfekt for deg som liker adrenalin, høy puls og høyt tempo. Meld deg på, for her garanteres det stemning og spenning fra start til slutt!

 </p>           
                </div>
                
    
            </div>
        </div>

        

      <footer class="footer">
      <div class="container">
        <span class="text-muted">Bergen Challange</span>
      </div>
    </footer>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      


   

    <!-- Bootstrap core JavaScript -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>


  </body>

</html>
