<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bergen Challenge</title>
      
    <!-- Custom styles for this page -->
    <link href="../../storage/css/cssforidrett.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
      </div>
    </nav>
      
    
    <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../../storage/bilder/sports/tennis.jpg)">  
            <div class="container">
                <h1 id="overhead">TENNIS</h1>
            </div>
      </div>

        <div class="row">
            <div class="col-sm-8">
                <img class="rounded mx-auto d-block" src="../../storage/bilder/bcfarger.jpg" id="bc">
                    <ul class="list"> 
                        <li class="list-item"><span class="question">NÅR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">HVOR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">KONTAKTPERSON</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">REGLER</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">TYPE</span><span class="answers">Studentcup og EM-kvalik for Student-EM 2019</span></li>
                    </ul>
                <div class="infotext">
                    <p class="lead">Er dere klare for høstens desidert største begivenhet for studenter i Tennismiljøet? SLBC 2018 blir større enn Wimbledon, og det konkurreres i single både for damer og herrer. Tennisentusiaster fra hele landet vil samles i Bergen for å vise muskler på banen, og det skal avklares en gang for alle hvem som virkelig fortjener førsteplassen på pallen. Studentmesterskapet vil foregå innendørs, og vinneren kvalifiserer seg til Student-EM i Montenegro i 2019. Du har kanskje raske server eller solide smasher som kan gi deg store fordeler på banen? Eller kanskje en kraftfull backhand? Da kan det nettopp være deg som går av med seieren under SLBC 2018. Meld deg på, og du er et skritt nærmere drømmen om en Grand Slam-tittel!  
 </p>           
                </div>
                
    
            </div>
        </div>

        

      <footer class="footer">
      <div class="container">
        <span class="text-muted">Bergen Challange</span>
      </div>
    </footer>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      


   

    <!-- Bootstrap core JavaScript -->
    <script src="../../vendor/jquery/jquery.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="../../storage/js/scrolling-nav.js"></script>

  </body>

</html>
