<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bergen Challenge</title>
      
    <!-- Custom styles for this page -->
    <link href="../assets/css/cssforidrett.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
      </div>
    </nav>
      
    
    <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../assets/bilder/sports/volley.jpg)">  
            <div class="container">
                <h1 id="overhead">VOLLEYBALL</h1>
            </div>
      </div>

        <div class="row">
            <div class="col-sm-8">
                <img class="rounded mx-auto d-block" src="../assets/bilder/bcfarger.jpg" id="bc">
                    <ul class="list"> 
                        <li class="list-item"><span class="question">NÅR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">HVOR</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">KONTAKTPERSON</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">REGLER</span><span class="answers">REPLACE</span></li>
                        <li class="list-item"><span class="question">TYPE</span><span class="answers">Studentcup og EM-kvalik for Student-EM 2019</span></li>
                    </ul>
                <div class="infotext">
                    <p class="lead">Volleyball er en av de mest populære idrettene i studentnorge. Idretten hvor gode lag fungerer som et velsmurt maskineri der alle kjenner sin rolle, og det hele kan være uhyre vakkert å se på. Bergen er igjen klare for å heve støynivået i idrettshallene med elleville lagrop og volleyglede. Det skal også bli kåret en studentmester under SLBC, så konkurransen blir knallhard!  Vinneren kvalifiserer seg til Student-EM i Serbia i 2019!  </p>           
                </div>
                
    
            </div>
        </div>

        

      <footer class="footer">
      <div class="container">
        <span class="text-muted">Bergen Challange</span>
      </div>
    </footer>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      


   

    <!-- Bootstrap core JavaScript -->
    <script src="../assets/vendor/jquery/jquery.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../assets/vendor/jquery-easing/jquery.easing.min.js"></script>


  </body>

</html>
