{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />

    <!-- Importing jQuery -->
    <script language="JavaScript" type="text/javascript" src="../scrips/jquery-3.2.1.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="../scrips/jquery-3.2.1.js"></script>
    <script language="JavaScript" type="text/javascript" src="../scrips/myJQ.js"></script>
    
    <!-- Importing online stylesheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Importing local stylesheet -->
	<link rel="stylesheet" type="text/css" href="./style.css">
	{% includeCssFile "/styles.css" %}
    
    
    


</head>



<body>
    
<!--
    See style.css for further commenting on the navbar
-->

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">SL BC 2018</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="_layout.html">HJEM</a></li>
				<li><a href="#">INFO</a></li>
				<li><a href="#">IDRETTER</a></li>
				<li><a href="#">AKTUELT</a></li>
                <li><a href="#">NORSK//ENGELSK</a></li>
			</ul>
			
		</div>
	</div>
</nav>
<header>

        <div id="bakgrunn"></div>
        <img id="logo" src="../storage/bilder/Bergen-challenge-vektorisert.svg" alt="logo" >
</header>

<!--
    
    Container containing the pictures and text beneath the header.

    col-sm-4 says that a small column is to take up 4/12 "grid-squares" of the row.

    class "column-text" to change the color of the text
    class "container h3/p" to change the size of the text
    class "img-responsive" to change the style of the picturwe
--->
<div class="container text-center">
	<h3>AKTUELT</h3><br>
	<div class="row">
		<div class="col-sm-4">
            <!--
                Assigned id's: bball, team and trophy, to apply different background images in style.css
            -->
			<div id="bball" class="img-responsive">
            <div class="column-text">
                <h3>SPORT FOR ALLE</h3>
			     <p>Bli med på det utrolige for alle og en hver</p>
            </div>
            </div>
		</div>
		<div class="col-sm-4">
			<div id="team" class="img-responsive">
			<div class="column-text">
                <h3>SPORT FOR ALLE</h3>
			     <p>Bli med på det utrolige for alle og en hver</p>
            </div>
            </div>
		</div>
		<div class="col-sm-4">
			<div id="trophy" class="img-responsive">
			<div class="column-text">
                <h3>MEDALJEVINNER 2017</h3>
			     <p>Se oversikten over alle som vant medaljer i 2017</p>
            </div>
            </div>
		
    
        </div>
        
        


		{% block content %}
		<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
		<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}


	</div>
</div><br>
    


<footer class="container-fluid text-center">
	<p>Footer Text</p>
</footer>

</body>
</html>
