<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Bergen Challenge</title>
      <!-- Custom styles for this page -->
      <link href="assets/css/cssforfaq.css" rel="stylesheet">
      <!-- CSS reset -->
      <link rel="stylesheet" href="assets/css/reset.css">
      <!-- Bootstrap core CSS -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Modernizr -->
      <script src="assets/scrips/FAQ/modernizr.js"></script>
   </head>
   <body id="page-top">
      <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: url(assets/bilder/gruppebilde.jpg)">  
      </div>
      
         <div class="row">
            <div class="col-sm-8 my-auto">
               <h1 id="heading">OFTE STILTE SPØRSMÅL</h1>
               <img class="rounded mx-auto d-block" src="assets/bilder/bcfarger.jpg" id="bc">
            </div>
         </div>
           
      <section class="cd-faq">
         <ul class="cd-faq-categories">
            <li><a class="selected" href="#basics">Generelt</a></li>
            <li><a href="#mobile">Innkvartering</a></li>
            <li><a href="#account">Transport</a></li>
            <li><a href="#payments">Påmelding og sportslig</a></li>
            <li><a href="#privacy">Kulturtilbud</a></li>
         </ul>
         <!-- cd-faq-categories -->
         <div class="cd-faq-items">
            <ul id="basics" class="cd-faq-group">
               <li class="cd-faq-title">
                  <h2>Generelt</h2>
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hva er egentlig SL Bergen Challenge?</a>
                  <div class="cd-faq-content">
                     <p>Studentlekene Bergen Challenge er en studentidrettsfestival, hvor studenter fra hele Norges land samles over fire dager for å konkurrere i et spekter av idretter og oppleve hva Bergen og Bergen Challenge har å by på. Her tilbys idrett både til deg som satser, eller deg som bare vil ha det gøy med laget ditt. 
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hvem kan delta i SL Bergen Challenge?</a>
                  <div class="cd-faq-content">
                     <p>For å delta trenger du ikke være medlem av et lag eller en klubb som spiller idretten. Det eneste du trenger er å være medlem av et studentidrettslag som er registrert hos Norges Student-Idrettsforbund (NSI). Hva gjelder lag kan maksimalt 25 % av laget være ikke-studenter. Du må være student for å delta i individuelle idretter. Så, husk semesterbevis og medlemskapsbevis i klubb, som begge må fremvises ved akkreditering. </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hvordan melder jeg meg på?</a>
                  <div class="cd-faq-content">
                     <p>Påmelding vil foregå her på våre nettsider, og vil åpne 11.april og endelig lukkes 11. september.  </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
            </ul>
            <!-- cd-faq-group -->
            <ul id="mobile" class="cd-faq-group">
               <li class="cd-faq-title">
                  <h2>Innkvartering</h2>
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Tilbys det overnattingsmuligheter under arrangementet?</a>
                  <div class="cd-faq-content">
                     <p>Ja, det vil tilbys overnatting på sentrumsnære skoler til pris.. (sett inn pris). Deltakerne vil her sove i klasserom, der alle MÅ ha med eget liggeunderlag og sovepose. Til hvert klasserom vil det utdeles et nøkkelkort med tilgang til skolen, og det vil også være et sekretariat som kan låse inn folk til alle døgnets tider. Skolene vil være i gangavstand til sentrum, og enkel tilgang til idrettshallene. Videre vil det være gangavstand eller tilbud om skyss til alle kulturelle arrangementer. Det vil være normal frokostservering med brødmat, i tillegg til kiosker i alle idrettshaller som tilbyr varer fra TINE. <br><br> Det vil også være mulighet for overnatting på hotell i sentrum til rabatterte priser. </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hvor registrerer jeg meg når jeg ankommer Bergen?</a>
                  <div class="cd-faq-content">
                     <p>Det vil være et check-point ved Norges Handelshøyskole og et check-point i sentrum hvor deltakere registrerer seg, får deltakerbevis og blir vist til eventuelt overnattingssted. </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
            </ul>
            <!-- cd-faq-group -->
            <ul id="account" class="cd-faq-group">
               <li class="cd-faq-title">
                  <h2>Transport</h2>
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hvordan kommer jeg meg til og fra arrangementet?</a>
                  <div class="cd-faq-content">
                     <p>Det er billige måter å komme seg til Bergen på, blant annet ved ungdomsbilletter hos SAS eller Norwegian, NSB, eller Nor-Way Bussekspress. NSI har en støtteordning for deltakere som reiser til deres arrangementer med opptil kr 1000 i reisestøtte. Info om dette finner du på www.studentidrett.no. </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hvordan kommer jeg meg fra A til B under selve arrangementet?</a>
                  <div class="cd-faq-content">
                     <p>Det er et godt kollektivtilbud som tilbys i Bergen, der Skyss kjører ruter til, fra og gjennom sentrum til de fleste av døgnets tider. Billetter kan enkelt kjøpes gjennom Skyss sin app «Skyss Billett», eller på en av automatene ved flere av busstoppene. </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
            </ul>
            <!-- cd-faq-group -->
            <ul id="payments" class="cd-faq-group">
               <li class="cd-faq-title">
                  <h2>Påmelding og sportslig</h2>
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hvordan fungerer påmeldingen av lag?</a>
                  <div class="cd-faq-content">
                     <p>En representant melder på laget gjennom ”meld på lag”. Representanten betaler i denne prosessen deltakeravgift for seg selv, og lagnavnet blir registrert i systemet. 
                        Når laget er meldt opp kan enkeltspillere melde seg på gjennom ”meld på deltaker”. Etter du har fylt inn valgt idrett finner du laget ditt ved å bla nedover på pollen som dukker opp under. 
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Må jeg laste opp portrettbilde?</a>
                  <div class="cd-faq-content">
                     <p>Ja, det er obligatorisk å laste opp portrettbilde. Dette vil bli brukt til ditt personlige akkrediteringsbevis. </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Er det mulig å delta i flere idretter?</a>
                  <div class="cd-faq-content">
                     <p>Du kan delta i flere idretter, så lenge de ikke overlapper.
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hva er SL-trippelen?</a>
                  <div class="cd-faq-content">
                     <p>SL-trippelen er en konkurranse på tvers av de tre individuelle idrettene motbakkeløp, romaskin og svømming. Resultatene fra de tre konkurransene legges sammen for å kåre vinneren.  
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hva er forskjellen mellom studentmesterskap (SM) og studentidrettscup (SC)?</a>
                  <div class="cd-faq-content">
                     <p>Forskjellen mellom SC og SM er at man som vinner av SC ikke har rett til å kalle seg for Norsk Studentmester i den aktuelle idretten, og det fører heller ikke til at man kvalifiserer seg til eventuelt EM for studenter. SC arrangeres ofte i idretter som er i etableringsfasen, og kravene til arrangementene er ikke like strenge. 
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hvorfor er ikke min idrett med?</a>
                  <div class="cd-faq-content">
                     <p>I 2018 er idrettene fordelt mellom SL Bergen Challenge og SL Tromsø (februar). SL Tromsø tilbyr følgende idretter: Amerikansk fotball, cheerleading, håndball, innebandy, ishockey, lacrosse field, langrenn, squash. Svømming, tennis, undervannsrugby og yukigassen. 
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Kan ikke-studenter delta?</a>
                  <div class="cd-faq-content">
                     <p>Lag kan kompletteres med egne medlemmer som ikke er studenter. Ved SM kan maksimalt 25% av kamptropp kan være ikke-studenter. Mens ved SC kan maksimalt 50% av kamptropp være ikke-studenter. For idretter med minimum tre deltakere kan en deltaker være ikke-student. 
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Hvilke idretter kan man konkurrere i?</a>
                  <div class="cd-faq-content">
                     <p>Futsal (SM), volleyball (SM), rugby (SM), lacrosse Box (SM), friidrett (SM), 3x3 basketball (SM), seiling (SM), motbakkeløp (SM), bordtennis (SM), sjakk (SM), svømming (SM), sykkel (landevei) (SM), stup (SM), tennis (SM), badminton (individuell) (SC), fekting (SC), orientering (SC), romaskin (SC), squash (SC), biljard (SC), baseball (SC), crossfit (SC), friidrett (SC) og frisbee ultimate (SC). 
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
            </ul>
            <!-- cd-faq-group -->
            <ul id="privacy" class="cd-faq-group">
               <li class="cd-faq-title">
                  <h2>Kulturtilbud</h2>
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Torsdag: hvor, når, hva?</a>
                  <div class="cd-faq-content">
                     <p>Torsdag er dagen for den store åpningsseremonien på Festplassen i sentrum. Dette foregår fra kl. 19:00 til20:10. Det vil her være underholdning, fyrverkeri og tenning av SL-ilden for å markere at årets arrangement offisielt er i gang. Åpningsseremonien er åpen for alle. 
                        Basecamp på Det Akademiske Kvarter vil også være åpent for deltakere både før og etter åpningsseremonien, kl. 16:00 – 00:00, og har en aldersgrense på 18 år da det er mulighet for alkoholservering.
                        Basecamp er en hub for alle deltakerne til SL BC, hvor man kan slappe av mellom slagene, få i seg litt forfriskninger og være med på morsomme arrangementer og konkurranser. Basecamp vil være åpent store deler av tiden, så det er det perfekte stedet å møte andre mennesker fra andre deler av landet!
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Fredag: hvor, når, hva?</a>
                  <div class="cd-faq-content">
                     <p>Alle norske studentforeninger kan arrangere idrettsturnering, men det er kun NHH som kan skape aulashow! Festivalshow er en revy i aulaen på NHH. Showet lages og fremføres av NHH-studenter. Det er live musikk med dyktige aktører som skaper en kokende stemning i aulaen. I 2016 var det en kjempesuksess, og deltakerne får anledning til å se hvordan studentmiljøet på NHH er. Det vil bli to forestillinger, etterfulgt av et forrykende afterparty i kjelleren på NHH, Bergens nest største utested. Det Akademiske Kvarter vil være åpent på dagtid og kveldstid, hvor det vil være alkoholfrie tilbud, konkurranser og quiz. Både Aulashow og Det Akademiske Kvarter har aldersgrense 18 år, og er åpent kl. 16:00 – 00.00. Første Aulashow starter kl. 20:00, og andre show kl. 21:30. </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Lørdag: hvor, når, hva?</a>
                  <div class="cd-faq-content">
                     <p>På lørdagen vil det foregå finaler i de fleste idrettene, og i enkelte av disse ønsker vi å integrere et kulturelt tilbud i idretten. I noen av de største finalene vil det derfor arrangeres et «half time show», med cheerleadere, musikk og storslagenhet. Basecamp vil også være åpent om man vil kose seg med laget og vennene sine. 
                        Lørdag er også dagen for avslutningsseremonien, som vil foregå i Grieghallen midt i sentrum. Banketten skal samle alle deltakerne for å feire tre dager spekket med idrettsglede. Det vil serveres mat, drikke og underholdning av ypperste klasse, samt et afterparty på Det Akademiske Kvarter. Her skal finstasen på, medaljer vises frem og nye vennskap knyttes idet årets begivenhet rundes av i Grieghallen i Bergen. 
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Er det mulig å ta med seg venner på kulturarrangementene selv om de ikke deltar?
                  </a>
                  <div class="cd-faq-content">
                     <p>Er det mulig å ta med seg venner på kulturarrangementene selv om de ikke deltar?</p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
               <li>
                  <a class="cd-faq-trigger" href="#0">Må man kjøpe billett til arrangementene?
                  </a>
                  <div class="cd-faq-content">
                     <p>Alle arrangementene, med unntak av festivalshowet, inngår i din deltakeravgift, så her er det bare å kose seg!
                     </p>
                  </div>
                  <!-- cd-faq-content -->
               </li>
            </ul>
            <!-- cd-faq-group -->
         </div>
         <!-- cd-faq-items -->
         <a href="#0" class="cd-close-panel">Close</a>
      </section>
      <!-- cd-faq -->
      <!-- Bootstrap core JavaScript -->
      <script src="assets/vendor/jquery/jquery.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="assets/scrips/FAQ/main.js"></script>
   </body>
</html>