<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bergen Challange</title>

    
    <!-- Custom styles for this page -->
    <link href="assets/css/stylesheets.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    
</head>
<body>

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
      </div>
    </nav>
    
    <div class="flex-container">    

        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/bordtennis.jpg)">
            <div class="overlay">
            <h2>BORDTENNIS</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)),  url(assets/bilder/sports-cover/baseball.JPG)">
            <div class="overlay">
            <h2>BASEBALL</h2>
            </div>
        </div>
            
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/volleyball.JPG)">
            <div class="overlay">
            <h2>VOLLEYBALL</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/lacrosse.JPG)">
            <div class="overlay">
            <h2>LACROSSE</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/kanonball.jpg)">
            <div class="overlay">
            <h2>KANONBALL</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/futsal.JPG)">
            <div class="overlay">
            <h2>FUTSAL</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/friidrett.JPG)">
            <div class="overlay">
            <h2>FRIIDRETT</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/fekting.jpg)">
            <div class="overlay">
            <h2>FEKTING</h2>
            </div>
        </div>
         
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/cheer.jpg)">
            <div class="overlay">
            <h2>CHEERLEADING</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/basketball.jpg)">
            <div class="overlay">
            <h2>3X3 BASKETBALL</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/badminton.jpg)">
            <div class="overlay">
            <h2>BADMINTON</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/squash.jpg)">
            <div class="overlay">
            <h2>SQUASH</h2>
            </div>
        </div>
   
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/romaskin.JPG)">
            <div class="overlay">
            <h2>ROMASKIN</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/rugby.JPG)">
            <div class="overlay">
            <h2>RUGBY</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/seiling.jpg)">
            <div class="overlay">
            <h2>SEILING</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/sjakk.jpg)">
            <div class="overlay">
            <h2>SJAKK</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/stup.jpg)">
            <div class="overlay">
            <h2>STUP</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/svomming.JPG)">
            <div class="overlay">
            <h2>SVØMMING</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/sykkel.JPG)">
            <div class="overlay">
            <h2>SYKKEL</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/ultimatefrisbee.jpg)">
            <div class="overlay">
            <h2>ULTIMATE FRISBEE</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/bordtennis.jpg)">
            <div class="overlay">
            <h2>KLATRING</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/bakgrunn.jpg)">
            <div class="overlay">
            <h2>ORIENTERING</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/bordtennis.jpg)">
            <div class="overlay">
            <h2>MOTBAKKELØP</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(assets/bilder/sports-cover/bordtennis.jpg)">
            <div class="overlay">
            <h2>DØDSING</h2>
            </div>
        </div>
    
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>                             