<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bergen Challange</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets.css">
<script src="script.js"></script>

    
</head>
<body>

<div class="nav">
 <nav class="navbar navbar-inverse">
  ...
</nav>
</div>
    
    <div class="flex-container">    

        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/bordtennis.jpg)">
            <div class="overlay">
            <h2>BORDTENNIS</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)),  url(../storage//bilder/sports-cover/baseball.JPG)">
            <div class="overlay">
            <h2>BASEBALL</h2>
            </div>
        </div>
            
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/volleyball.JPG)">
            <div class="overlay">
            <h2>VOLLEYBALL</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/lacrosse.JPG)">
            <div class="overlay">
            <h2>LACROSSE</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/kanonball.jpg)">
            <div class="overlay">
            <h2>KANONBALL</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/futsal.JPG)">
            <div class="overlay">
            <h2>FUTSAL</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/friidrett.JPG)">
            <div class="overlay">
            <h2>FRIIDRETT</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/fekting.jpg)">
            <div class="overlay">
            <h2>FEKTING</h2>
            </div>
        </div>
         
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/cheer.jpg)">
            <div class="overlay">
            <h2>CHEERLEADING</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/basketball.jpg)">
            <div class="overlay">
            <h2>3X3 BASKETBALL</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/badminton.jpg)">
            <div class="overlay">
            <h2>BADMINTON</h2>
            </div>
        </div>
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/squash.jpg)">
            <div class="overlay">
            <h2>SQUASH</h2>
            </div>
        </div>
   
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/romaskin.JPG)">
            <div class="overlay">
            <h2>ROMASKIN</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/rugby.JPG)">
            <div class="overlay">
            <h2>RUGBY</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/seiling.jpg)">
            <div class="overlay">
            <h2>SEILING</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/sjakk.jpg)">
            <div class="overlay">
            <h2>SJAKK</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/stup.jpg)">
            <div class="overlay">
            <h2>STUP</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/svomming.JPG)">
            <div class="overlay">
            <h2>SVØMMING</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/sykkel.JPG)">
            <div class="overlay">
            <h2>SYKKEL</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/ultimatefrisbee.jpg)">
            <div class="overlay">
            <h2>ULTIMATE FRISBEE</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/bordtennis.jpg)">
            <div class="overlay">
            <h2>KLATRING</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/bakgrunn.jpg)">
            <div class="overlay">
            <h2>ORIENTERING</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/bordtennis.jpg)">
            <div class="overlay">
            <h2>MOTBAKKELØP</h2>
            </div>
        </div>
        
        <div class="flex-item" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../storage//bilder/sports-cover/bordtennis.jpg)">
            <div class="overlay">
            <h2>DØDSING</h2>
            </div>
        </div>
    
    </div>
    

</body>
</html>                             