<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Example of Bootstrap Four Column Convertible Layout</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets.css">
<script src="script.js"></script>

    
</head>
<body>

<div class="nav">
 <nav class="navbar navbar-inverse">
  ...
</nav>
</div>
    
    <div class="flex-container">    
        
        <div class="flex-item" id="test">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item" id="test2">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
            
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
         
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
        <div class="flex-item">
            <div class="overlay">
            <h2>Fotball</h2>
            </div>
        </div>
   
        <div class="flex-item">13</div>
        <div class="flex-item">14</div>
        <div class="flex-item">15</div>
        <div class="flex-item">16</div>
        
        <div class="flex-item">17</div>
        <div class="flex-item">18</div>
        <div class="flex-item">19</div>
        <div class="flex-item">20</div>
        
        <div class="flex-item">21</div>
        <div class="flex-item">22</div>
        <div class="flex-item">23</div>
        <div class="flex-item">24</div>
    
    </div>
    

</body>
</html>                             