<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Bergen Challenge</title>
      <!-- Custom styles for this page -->
      <link href="assets/css/cssforomoss.css" rel="stylesheet">
      <!-- Bootstrap core CSS -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body id="page-top">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
         </div>
      </nav>
      <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: url(assets/bilder/gruppebilde.jpg)">  
      </div>
      <div class="row">
         <div class="col-sm-8 my-auto">
            <h1 id="heading">OM STUDENTLEKENE BERGEN CHALLENGE</h1>
            <img class="rounded mx-auto d-block" src="assets/bilder/bcfarger.jpg" id="bc">
         </div>
      </div>
      <div class="col-sm-8" id="text">
         <p>Studentlekene Bergen Challenge så for første gang dagens lys i 2011. To av NHHs mest engasjerte sjeler, Martin Schütt og Kjetil Sand, deltok under Studentlekene Trondheim 2010 og denne erfaringen skulle danne grunnlaget for en fantastisk reise. Halvannet år senere var det et faktum: Studentlekene Bergen Challenge fikk innvilget teknisk arrangøransvar for de offisielle Studentlekene av Norges Studentidrettsforbund og 1100 deltagere fra hele landet tok turen til Norges beste studentby for å kombinere konkurranse, idrettsglede, sosialt samvær og ikke minst det å knytte nye vennskap på tvers av studiested og klubblogo.
         </p>
         <p>
            Siden den gang har SLBC etablert seg som en solid merkevare både lokalt og nasjonalt. Omtrent to tusen deltagere fylte bankettlokalene i Grieghallen i 2016 og helt siden da har organisasjonens mange frivillige jobbet knallhardt med å fylle og overgå forventningene til tilbakevendende deltagere fra hele studentidretts-Norge. 
         </p>
         <p>
            Helt fra begynnelsen i 2011 har SLBC hatt et todelt fokus: Idrett og kultur i skjønn harmoni. År for år har organisasjonen opparbeidet seg den erfaringen og de profesjonelle rammene som skal foreligge rundt idrettene under et SL og kulturprogrammet utvides både kvalitativt og kvantitativt for hver gjennomføring.
         </p>
         <p>
            SLBC arrangeres hovedsakelig av nesten 500 frivillige studenter fra Norges Handelshøyskole, og i 2018 har vi åpnet for å rekruttere ambassadører på alle de store studieinstitusjonene i landet. Det er en del av en strategi for å nå vårt mål om å bli Norges største studentidrettsfestival gjennom tidende. Målet mer enn 2200 deltagere fra hele landet, og programmet vi har liggende klart for dere er bedre enn noen gang tidligere; Nye idretter, nye haller, og større kapasitet i kombinasjon med festivalhangout i sentrum og mye mye mer er noe av det som venter dere i Bergen når vi ses til åpningsseremonien på festplassen til høsten. 
         </p>
         <h2>Velkommen til Bergen 11.-14. Oktober 2018!</h2>
      </div>
      <footer class="footer">
         <div class="container">
            <span class="text-muted">Bergen Challange</span>
         </div>
      </footer>
      <!-- Bootstrap core JavaScript -->
      <script src="assets/vendor/jquery/jquery.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- Plugin JavaScript -->
      <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
   </body>
</html>