/* CSS for "idretter" */

 
/* parent div */
 .flex-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     padding-left: 5%;
     padding-right: 5%;
     justify-content: space-around;
     align-content: space-between;
}

/* child div, styling for each box/sport */
 .flex-item {
     margin: 1%;
     background: tomato;
     width: 250px;
     height: 250px;
     line-height: 150px;
     color: white;
     font-weight: bold;
     font-size: 3em;
     text-align: center;
     background-position: center;
     background-size: cover;
}

/* text styling on top of */
 .flex-item h2 {
     position: relative;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
}

/* image-background for the individual sports */
 #test {
     background-image: url(../storage/bilder/trophy.jpg);
}

#test2 {
    background-image: url(../storage/bilder/trophy.jpg)
}


/* general image styling */
 .img-sport {
     background-position: center;
     background-size: cover;
     
}
 
    
    
    
    
    
    
    
    
    
    
    
    
    
    

