/* Setting basic requirements for the whole document */
body{
     margin:0px;
     padding:0px;
     min-width:100%;
     max-width:100%;
     height:auto;
     font-family: 'Arial Bold', sans-serif;
}

.navbar {
    margin-bottom: 0;
	border-radius: 0;

}
/* The logo in the top left corner of the header/navbar */
.navbar-brand{
    font-size: 20px;
    
}

/* The whole navbar */
.navbar-default {
  background: none;
  background-color: rgba(0, 13, 56, 0.95);
  z-index: 2;
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 14px;
}

/* Title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: white;
    margin-left: 40;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #00B0C0;
    border-bottom: 1.5px solid #00B0C0;
    padding-bottom: 0 0 4px;
}
.navbar-default .navbar-nav > li > a:active{
   
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #00B0C0;


}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
 
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
 
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {

}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {

}
/* Mobile version */
.navbar-default .navbar-toggle {

}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
   
}
.navbar-default .navbar-toggle .icon-bar {
   
}
/* The list on the right containing list elements such as: hjem, info, idretter etc.*/
.collapse{
    right: 40;
    position: absolute;
    
}

		/* Add a gray background color and some padding to the footer */
footer {
			background-color: rgba(0, 13, 56, 0.7);
			padding: 25px;
}

/*Controls the header. The navbar is not part of this code*/
header{
    overflow: auto;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

}
/*The background image of the header*/
#bakgrunn{
    overflow: auto;
    background-image: url(../storage/bilder/bakgrunn.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 100vh;
    z-index: 1;
    width: 100%;
   

}

/* Centering the logo on top of the background image */
#logo{
    position: absolute;
    width: 50vh;
    z-index: 11;
    margin-top: -3%;   
}
/* Container h3 sizes up the headline before the columns */

.container h3{
    font-size: 50px;
    font-family: arial, bold;
}

/* The text within the pictures */

.container{
    width: 80%;
}

/* Row containing the columns, set to 100% of the containers width */
.row{
    width: 100%:
}

/* Divs within the columns containing the pictures and the column-text */
.img-responsive{
  background-position: center;
  background-size: cover;
  width: 124vh;
  height: 70vh;
  position: relative;
  overflow: hidden;
 
}
/* Setting background picture for the first image*/
#bball{
    background-image: url(../storage/bilder/nike-basketball.jpg);
}

/* Setting background picture for the second image*/
#team{
    background-image: url(../storage/bilder/team-sport.jpg);

}

/* Setting background picture for the third image*/
#trophy{
    background-image: url(../storage/bilder/trophy.jpg);
}
/* Setting the h3, p text on top of the picture, instead of underneath */
.column-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden; 
  color: white;
  background-color: rgba(0, 13, 56, 0.7);
  height: 171px;
  
}
/* Class to be added when hovering over the picture, increases the height of the column-text to display more information. Code in myJQ.js */
.addon{
    height: 60%;
    transition-duration: 0.5;
}
/* The title in the picture */
.row h3{
    margin-top: 50;
    font-size: 2.08vh;
} 
.row p{
    font-size: 1.39vh;
}



@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
    .collapse{
        position: relative;
        right: 0;
    }
}
