<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bergen Challenge</title>
      
    <!-- Custom styles for this page -->
    <link href="assets/css/cssforstyret.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Bergen Challange</a>
      </div>
    </nav>
      
      <!-- Image jumbotron -->
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 13, 56, 0.5), rgba(0, 13, 56, 0.5)), url(../assets/bilder/sport.jpg)">  
            
      </div>
      
      <div class="row">
            <div class="col-sm-8 my-auto">
                <h1 id="heading">STUDENTLEKENE BERGEN CHALLENGE STYRET</h1>
                <img class="rounded mx-auto d-block" src="../assets/bilder/bcfarger.jpg" id="bc">
            </div>
      </div>
      
      
              
    <div class="flex-container">    

        <div class="flex-item">
            <div class="flex-item-portrait" style="background-image: url(assets/bilder/board/2.jpg)">
            </div>
            <div class="flex-item-info">
                <p id="name">CHRISTINE MODIN</p>
                <p id="position">Informasjonssjef</p>
                <p id="tlf">Tlf: +47 96 20 61 78</p>
                <p id="epost">Epost: Christine@bc.no</p>
            </div>
        </div>
        <div class="flex-item">
            <div class="flex-item-portrait" style="background-image: url(assets/bilder/board/1.jpg)"> 
            </div>
            <div class="flex-item-info">
                <p id="name">CHRISTINE MODIN</p>
                <p id="position">Informasjonssjef</p>
                <p id="tlf">Tlf: +47 96 20 61 78</p>
                <p id="epost">Epost: Christine@bc.no</p>
            </div>
        </div>
            
        <div class="flex-item">
            <div class="flex-item-portrait" style="background-image: url(assets/bilder/board/3.jpg)">
            </div>
            <div class="flex-item-info">
                <p id="name">CHRISTINE MODIN</p>
                <p id="position">Informasjonssjef</p>
                <p id="tlf">Tlf: +47 96 20 61 78</p>
                <p id="epost">Epost: Christine@bc.no</p>
            </div>
        </div>
        <div class="flex-item">
            <div class="flex-item-portrait" style="background-image: url(assets/bilder/board/4.jpg)">
            </div>   
            <div class="flex-item-info">
                <p id="name">CHRISTINE MODIN</p>
                <p id="position">Informasjonssjef</p>
                <p id="tlf">Tlf: +47 96 20 61 78</p>
                <p id="epost">Epost: Christine@bc.no</p>
            </div>
        </div>
        <div class="flex-item">
            <div class="flex-item-portrait" style="background-image: url(assets/bilder/board/5.jpg)">
            </div>
            <div class="flex-item-info">
                <p id="name">CHRISTINE MODIN</p>
                <p id="position">Informasjonssjef</p>
                <p id="tlf">Tlf: +47 96 20 61 78</p>
                <p id="epost">Epost: Christine@bc.no</p>
            </div>
        </div>
        <div class="flex-item">
            <div class="flex-item-portrait" style="background-image: url(assets/bilder/board/6.jpg)">
            </div>   
            <div class="flex-item-info">
                <p id="name">CHRISTINE MODIN</p>
                <p id="position">Informasjonssjef</p>
                <p id="tlf">Tlf: +47 96 20 61 78</p>
                <p id="epost">Epost: Christine@bc.no</p>
            </div>
        </div>
        
        <div class="flex-item">
            <div class="flex-item-portrait" style="background-image: url(assets/bilder/board/7.jpg)">       
            </div>
            <div class="flex-item-info">
                <p id="name">CHRISTINE MODIN</p>
                <p id="position">Informasjonssjef</p>
                <p id="tlf">Tlf: +47 96 20 61 78</p>
                <p id="epost">Epost: Christine@bc.no</p>
            </div>
        </div>
      </div>
   

        

      <footer class="footer">
      <div class="container">
        <span class="text-muted">Bergen Challange</span>
      </div>
    </footer>
      

   

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>


  </body>

</html>
