
.jumbotron {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    min-height: 250px;
}

#overhead   {
    text-align: center;
    vertical-align: middle;
    line-height: 250px; 
    color: white;
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: bold; 
    font-size: 80px;
    
}
